.card {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.card__buttons-block {
  text-align: right;
}

.card__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.card__name {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.card__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #EBEBEB;
}

.card__one-price {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.card__price {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.cart-button {
  display: flex;
  align-items: center;
}

.cart-button__button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-button__button_delete {
  margin-right: 12px;
  background-color: #F4F3F3;
  background-image: url(../../res/delete.svg);
}

.cart-button__count {
  margin-right: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.cart-button__button_add {
  background-color: #FFB000;
  background-image: url(../../res/add.svg);
}

.links {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  font-weight: bold;
  color: #FFB000;
}
