.App {
  background-color: #F5F4F2;
  color: #333;
  font-size: 12px;
  line-height: 16px;
}

main {
  position: relative;
  margin-top: -50px;
  z-index: 100;
  padding: 0 24px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
}
